[Unit]
Description=flush dns
Wants=lbp-dns.timer
[Service]
Type=oneshot
ExecStart=nmcli general reload dns-full
ExecStart=resolvectl flush-caches

[Install]
WantedBy=multi-user.target

